@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
.product-bg{
    background-image: linear-gradient(#000000e1, #000000e1),
    url("./../../../public/assets/image/background/services.jpg");
  width: auto;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.product-name{
    font-family: "Noway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}
.product-text{
    font-family: 'Noway', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.brochures-download{
    font-family: 'Noway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.brochures-download:hover{
    color: #000000;
    text-decoration: none;
} 
.brochures-download:hover span{
    padding-right: 20px;
}
.brochures-download span:after{
    padding-left: 20px;
    content: "Download";
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.brochures-download:hover span:after {
    opacity: 1;
    right: 0;
  }
